.index-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6 , 1fr);
    height: 100vh;
    padding-right: 2rem;
    padding-top: 3rem;
  }

  .index-logo{
      grid-column: 1 / span 3;
      grid-row: 2;
      max-width: 85%;
      margin-left: 5rem;
  }

  .index-text{
    background-color: var(--red);
    grid-column: 1 / span 3;
    grid-row: 3 / span 5;
    border: 1rem solid var(--red);
    border-bottom-left-radius: 15rem;
    margin-top: 1rem;
    padding: 1.5rem;
    padding-top: 1rem;
    margin-left: 5rem;
    font-family: 'Avenir';
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: white;
}

.index-text__logo{
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.index-navigatie{
  display: flex;
  align-items: center;
  height: 3vh;
    grid-column: 1 / span 3;
  font-family: 'Cocogoose';
  font-size: 1.5rem;
  color: white;


}

.nav-logo{
 height: 100%;
}

.nav-items{
  padding: 3rem;
  display: flex;
  align-items: center;
}

.index-nav-item{
  margin-left: 5rem;
  text-decoration: none!important;
  color: var(--red);
  margin: 1rem;
  margin-left: 10vw;
  border-bottom: 0.3rem solid var(--red);
}

  .header-img{
      /* grid-column: 3 / span 8;
      grid-row: 1 / span 4; */
      grid-area: 1 / 3 / span 3 / span 8;
      max-width: 100%;
  }

  .index-circles{
      grid-row: 1 / span 5;
      grid-column: 11 / span 2;
      max-width: 75%;
      display: flex;
      align-self: center;
      justify-self: center;
  }

  .index-cta{
      grid-row: 6 / span 2;
      grid-column: 11 / span 2;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 2.5rem;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding-top: 3rem;
  }

  .index-cta__imp{
      color: var(--red);
      font-weight: 700;
      font-size: 3rem;
      text-align: center;
  }

  .index-cta__link{
        text-decoration: none!important;
      border: 0.5rem solid var(--red);
      padding: 1rem;
      padding-top: 1.5rem;
      border-radius: 3rem;
      background-color: var(--red);
      color: white;
      font-family: 'Retrocycles';

      
  }

  .index-detail{
      grid-row: 6;
      grid-column: 1 / span 2;
      max-width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-top: 5rem;
  }


  .event-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6 , 1fr);
    height: 100vh;
    padding-top: 0rem;
    padding-top: 0rem;
  }

  .event-img{
      grid-area: 2 / 4 / span 7 / span 6;
      max-width: 100%;
  }

  .event-title{
      grid-row: 1;
      grid-column: 1 / span 7;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-family: 'Retrocycles';
      font-size: 5vw;
      border: 1rem solid black;
      border-bottom: none;
      border-left: none;
      border-bottom-right-radius: 3rem;
      border-top-right-radius: 3rem;
      margin-top: 5rem;
      padding-right: 5rem;
  }

  .event-info{
      grid-row: 3;
      grid-column: 7 / span 3;
      justify-content: space-evenly;
      padding-left: 3rem;
      padding-right: 7rem;
      align-items: center;
      font-family: 'Retrocycles';
      font-size: 3vw;
      display: flex;
  }

  .event-tach__detail{
      grid-row: 2/ span 2;
      grid-column: 12;
  }

  .event-dates{
      display: flex;
      flex-direction: column;
  }

  .event-adres{
      grid-row: 4 / span 2;
      grid-column: 5 / span 3;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Retrocycles';
      text-align: center;
      font-size: 4.5vw;
      padding-right: 5rem;
      padding-top: 5rem;
  }

  .event-race{
      grid-column: 3/ span 3;
      grid-row: 2;
  }

  .event-race__title{
      color: var(--red);
      font-size: 4rem;
      font-family: 'Retrocycles';
  }

  .event-race__text{
    font-family: 'Avenir';
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.event-show{
    grid-column: 2/ span 2;
    grid-row: 4;
}

  .event-detail{
      grid-row: 1;
      grid-column: 1 / span 2;
      max-width: 100%;
  }

  .event-sponsor-info{
      display: flex;
      flex-direction: column;
      grid-column: 9 / span 4;
      grid-row: 4 / span 3;
      align-items: center;
      text-align: center;
      margin-left: 3rem;
  }

  .event-sponsor-info__logo{
      max-width: 50%;
      margin-bottom: 3rem;
  }

  .event-organiser{
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      font-size: 2.5rem;
      font-family: 'Avenir';
  }

  .organiser{
      color: var(--red);
      font-size: 5rem;
      font-weight: 700;
      margin-right: 2rem;
  }


  .sponsors{
      background-color: var(--red);
      height: 20vh;
      display: flex;
      flex-direction: column;
      padding: 3rem;
      padding-bottom: 0rem;
      align-items: center;
      justify-content:space-between;
  }

  .sponsors-text{
      color: white;
      font-family: 'Retrocycles';
      font-size: 3rem;
  }

  .sponsors-img{
      max-width: 90%;
  }


  @media only screen and (max-width: 1200px) {

    .header-img{
      /* grid-column: 3 / span 8;
      grid-row: 1 / span 4; */
      grid-area: 1 / 4 / span 3-2 / span 10;
      max-width: 100%;
  }

      .index-circles{
      display: none;
  }

   .index-text{
    background-color: var(--red);
    grid-column: 1 / span 6;
    grid-row: 4 / span 3;
    border: 1rem solid var(--red);
    border-bottom-left-radius: 15rem;
    margin-top: 1rem;
    padding: 1.5rem;
    padding-top: 1rem;
    margin-left: 5rem;
    font-family: 'Avenir';
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: white;
}

 .index-cta{
      grid-row: 4 / span 2;
      grid-column: 8 / span 4;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 2.5rem;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding-top: 3rem;
  }

.event-adres{
      grid-row: 4 / span 2;
      grid-column: 5 / span 3;
      display: flex;
      
      align-items: flex-start;
      font-family: 'Retrocycles';
      text-align: center;
      font-size: 4.5vw;
      padding-right: 5rem;
      padding-top: 0rem;
  }

   .event-dates{
      display: flex;
      flex-direction: column;
  }
    .event-info{
      grid-row: 2;
      grid-column: 7 / span 3;
      justify-content: space-evenly;
      padding-left: 3rem;
      padding-right: 7rem;
      align-items: center;
      font-family: 'Retrocycles';
      font-size: 3vw;
      display: flex;
      padding-top: 5rem;
  }

  .event-tach__detail{
      grid-row: 2/ span 2;
      grid-column: 11;
  }

   .event-sponsor-info{
      display: flex;
      flex-direction: column;
      grid-column: 8 / span 4;
      grid-row: 4 / span 3;
      align-items: center;
      text-align: center;
      margin-left: 3rem;
  }



  }

   @media only screen and (max-width: 1200px) {
       
     .header-img{
      /* grid-column: 3 / span 8;
      grid-row: 1 / span 4; */
      grid-area: 1 / 3 / span 3 / span 8;
      max-width: 100%;
  }

  .index-cta{
      grid-row: 4 / span 2;
      grid-column: 9 / span 2;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 2.5rem;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding-top: 3rem;
  }

  .index-nav-item{
  display: none;
    }

    .event-tach__detail{
      grid-row: 2/ span 2;
      grid-column: 12;
  }
    

 .event-race{
      grid-column: 2/ span 3;
      grid-row: 4;
  }

  .event-show{
    grid-column: 9/ span 3;
    grid-row: 4;
}

.event-sponsor-info{
      display: flex;
      flex-direction: column;
      grid-column: 5 / span 4;
      grid-row: 5 / span 3;
      align-items: center;
      text-align: center;
      margin-top: 3rem;
   
  }



   }


     @media only screen and (max-width: 768px) {
.header-img{
      /* grid-column: 3 / span 8;
      grid-row: 1 / span 4; */
      grid-area: 1 / 4 / span 3-2 / span 10;
      max-width: 100%;
  }

      .index-circles{
      display: none;
  }

  .index-logo{
      grid-column: 1 / span 3;
      grid-row: 1;
      max-width: 85%;
      margin-left: 5rem;
  }

  .event-tach__detail{
      grid-row: 2/ span 2;
      grid-column: 12;
  }

   .index-text{
    background-color: var(--red);
    grid-column: 1 / span 11;
    grid-row: 3 / span 4;
    border: 1rem solid var(--red);
    border-bottom-left-radius: 15rem;
    margin-top: 1rem;
    padding: 1.5rem;
    padding-top: 1rem;

    font-family: 'Avenir';
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: white;
}

 .index-cta{
      grid-row: 5 / span 2;
      grid-column: 5/ span 4;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 2.5rem;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding-top: 3rem;
      color: white;
  }
  .index-cta__link{
        text-decoration: none!important;
      border: 0.5rem solid white;
      padding: 1rem;
      padding-top: 1.5rem;
      border-radius: 3rem;
      background-color: var(--red);
      color: black;
      font-family: 'Retrocycles';
  }

.index-cta__imp{
      color: white;
      font-weight: 700;
      font-size: 3rem;
      text-align: center;
  }


 .event-race{
      grid-column: 2/ span 4;
      grid-row: 4;
  }

  .event-show{
    grid-column: 8/ span 4;
    grid-row: 4;
}

.event-sponsor-info{
      display: flex;
      flex-direction: column;
      grid-column: 4 / span 7;
      grid-row: 5 / span 3;
      align-items: center;
      text-align: center;
      margin-top: 3rem;
   
  }

     }