@import "../style.css";
@import "reset.css";
@import "vars.css";
@import "start.css";
@import "home.css";
@import "skill-breakdown.css";
@import "settings.css";
@import "timeperiod.css";
@import "progress.css";
/* @import "register.css"; */
@import "loading-bar.css";
@import "loading-bar.min.css";

.style__margin-top{
    margin-top: 3rem;
}

a{
  text-decoration: none;
  color: black;
}

.page-head{
    display: flex;
    align-items: center;
}

.back-button{
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 100%;
    box-shadow: 0rem 0rem .75rem 0.05rem var(--lightGrey);
    margin-right: 1rem;
}

.fa-arrow-left{
    color: var(--grey);
    font-size: 2rem;
}

.extra-margin{
    margin-top: 1rem;
}

.divided-line{
    width: 90vw;
    height: 0.5rem;
    background-color: var(--grey);
}

/*--------------------------------------------- navigation --------------------------------------*/

.main-body{
    background-color: var(--blue);
    width: 100vw;
    height: 100vh;
}

.main{
    background-color: white;
    height: calc(100vh - 7rem);
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    padding: 3rem;
}

.fa-user-circle, .fa-home{
    font-size: 3rem;
    color: white;
}

.navigation{
    padding: 2rem;
    width: 100vw;
    bottom: 0;
    position: fixed;
}

.nav-items{
    display: flex;
    justify-content: space-around;
}

/*------------------------------------------ text ------------------------------------------*/

.h1{
    font-size: 2rem;
    color: var(--grey);
    font-weight: lighter;
    /* margin-left: 1rem; */
}

.h2{
    font-size: 1.4rem;
    color: var(--grey);
    font-weight: lighter;
}

.h3{
    font-size: 1rem;
    color: var(--grey);
    font-weight: lighter;
}

.common-text{
    color: var(--grey);
    font-size: 1.2rem;
    margin-top: 1.2rem;
}

.sub-text{
    color: var(--grey);
    font-size: 1.7rem;
    font-style: italic;
    margin-top: 1rem;
}

.blue-text{
    color: var(--blue);
    font-size: 1.4rem;
    margin-top: 0.7rem;
}

.planner-text{
    color: var(--textColor);
    font-size: 0.9rem;
    margin-top: 1.2rem;
    border-left: 0.3rem solid var(--red);
    padding-left: 0.5rem;
}

.blue-text__small{
    color: var(--blue);
    font-size: 0.9rem;
    margin-top: 0.7rem;
}

.lvl-text{
    font-size: 3rem;
}
/*----------------------*/

.flex_header{
    width: calc(100vw - 6rem);
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.filter-form{
    display: flex;
}

.week-num{
  font-size: 2.5rem;
    font-weight: lighter;
    color: var(--grey);
    background-color: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    margin-left: 1rem;
}

.add_week-num{
    box-shadow: 0rem 0rem 0.75rem 0.05rem var(--lightGrey);
    color: var(--blue);
}

.week-num:hover{
    color: black;
}

.testMod{
    font-size: 3rem;
}