.profile-header{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.center-name{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.profile-border{
    border: 0.3rem solid var(--red);
    padding: 0.7rem;
    border-radius: 100%;
}

.profile-image{
     background-color: var(--darkBlue);
     width: 18rem;
    height: 18rem;
    border-radius: 100%;
}

.profile-level{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    background-color: var(--white);
    box-shadow: 0rem 0rem .75rem 0.05rem var(--grey);
    border-radius: 100%;
    margin-left: -6rem;
}

.badges-gallery{
    display: grid;
    grid-template: repeat(3, auto) / repeat(3, auto);
    grid-gap: 3.5rem;
    margin-top: 3rem;
}

.badge{
    width: 8rem;
    height: 8rem;
    box-shadow: 0rem 0rem .75rem 0.05rem var(--lightGrey);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge-img{
    background-color: red;
    border-radius: 1rem;
    width: 100%;
}