@import "../style.css";
@import "reset.css";
@import "vars.css";
@import "start.css";
@import "layout.css";

.flex__h1-tips{
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 12rem);
}

.tips{
    color: var(--red);
    font-size: 1.5rem;
}

.choose-week, .choose-week-numbers{
    display: flex;
}

.choose-week{
    align-items: center;
    margin-top: 3rem;
}

/* .week-number{
    font-size: 2.5rem;
    font-weight: lighter;
    color: var(--grey);
    background-color: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    margin-left: 1rem;
} */

.week-number__active{
    box-shadow: 0rem 0rem 0.75rem 0.05rem var(--lightGrey);
    color: var(--blue);
}

/* --------------- overview week planning ---------------*/

.overview-weekplan{
    display: grid;
    grid-template: 12.5rem / auto auto auto auto auto auto auto;
    overflow-x: scroll;
    flex-wrap: nowrap;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.overview-day{
    width: 11rem;
    padding: 1rem;
    border-right: 0.1rem solid var(--lightGrey);
}

.overview-day__active{
    background-color: rgb(240, 240, 240);
}

.align-day{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.day{
    color: var(--grey);
    font-weight: lighter;
}

.progress-image{
    margin-top: 3rem;
    height: 17rem;
    background-color: white;
    border: 0.1rem solid var(--darkBlue);
    box-shadow: 0rem 0rem .75rem 0.05rem var(--lightGrey);
    border-radius: 1rem;
    padding-top: 0.01rem;
    overflow: scroll;
    padding: 1rem;
}

.t-title{
   font-size: 1.5rem;
   margin-bottom: 0.5rem;
}

.t-description{
    color: var(--textColor);
    font-size: 1.2rem;
    margin-bottom: 2rem;
    line-height: 120%;
}

.sort-week-button{
    background-color: var(--lightGrey);
    border: none;
}

/*------------------------------------- customized scrollbar ------------------------------------*/
/* width */
.overview-weekplan::-webkit-scrollbar {
  height: 0.5rem;
}

/* Track */
.overview-weekplan::-webkit-scrollbar-track {
  background-color: rgb(238, 238, 238);
  border-radius: 1rem;
}

/* Handle */
.overview-weekplan::-webkit-scrollbar-thumb {
  background: var(--blue); 
  border-radius: 1rem;
}