
  .divider-line{
      width: 100%;
      height: .1rem;
      background-color: var(--lightGrey);
      margin-bottom: 2rem;
  }

  .update-notifications__button{
      height: 5vh;
      border: 1rem;
      border-radius: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      margin-bottom: 3rem;
      font-family: var(--fontFam);
      font-size: 2rem;
      width: 100%;
      color: var(--blue);
  }

  .button__text{
    font-family: var(--fontFam);
    font-size: 2rem;
  }

  /*---------------------------------*/

  .continue-button__blue{
    background-color: var(--blue);
    padding: 2rem;
  }

  .continue-button-text__white{
    color: var(--white);
    font-size: 1.5rem;
    font-weight: lighter;
  }

  .continue-button__white{
    background-color: var(--white);
    border: 0.1rem solid var(--blue);
    padding: 2rem;
  }

  .continue-button-text__blue{
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: lighter;
  }

  /*---------------------------*/

  .breakdown-line__div{
    border-top: 0.1rem solid grey;
    margin-top: 4rem;
    padding-top: 3rem;
  }

  .notification-hours{
    display: grid;
    grid-template: auto / auto auto;
    margin-top: 1.5rem;
  }

  .time-picker{
    padding: 0.7rem 0.7rem 0.7rem 1.3rem;
    margin: 1rem;
    border: 0.1rem solid var(--lightGrey);
    border-radius: 0.8rem;
    width: 12rem;
  }

  .time-picker:focus{
    outline: none;
    box-shadow: 0rem 0rem .75rem 0.05rem var(--lightGrey);
  }

  /* Hour */
input[type=time]::-webkit-datetime-edit-hour-field {
  color: var(--grey);
  border-radius: 15%;
  padding: 0.5rem;
}

/* Minute */
input[type=time]::-webkit-datetime-edit-minute-field {
  color: var(--grey);
  border-radius: 15%;
  padding: 0.5rem;
}

.settings-timeperiod{
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.timeperiod-days{
  display: flex;
  width: 50vw;
  align-items: center;
}

.timeperiod-days__extra{
  color: var(--red);
  font-size: 2rem;
  display: flex;
  margin-left: 1rem;
}

.timeperiod-current{
  display: flex;
  width: 50vw;
  padding-left: 1rem;
  border-left: 0.1rem solid var(--grey);
  align-items: center;
  font-size: 1rem;
}

.timeperiod-current__day{
  margin-left: 1rem;
}

.remove-skill{
  background-color: var(--red);
  border: none;
  padding: 1.5rem;
  width: calc(100vw - 6rem);
  border-radius: 1rem;
  margin-top: 3rem;
  color: rgb(90, 0, 0);
}