.container{
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
}


.wrapper{
    width: 100vw;
    height: auto;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    color: white;
}




.test-div{
  background-color: gray;
  height: 100vh;
  width: 100vw;
}

.step1{
  display: inline-block;
  padding: 10px;
  background: black;
  height: 110vh;
  min-width: 100vw;
  box-shadow: 2px 2px 4px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.start-tutorial__title{
  color: white;
  font-size: 10rem;
  border: 0.1rem solid white;
}

/* .step1{
  display: inline-block;
  padding: 10px;
  background: black;
  height: 100vh;
  min-width: 100vw;
  box-shadow: 2px 2px 4px #000;
} */

.step2{
  display: inline-block;
  padding: 10px;
  background: black;
  height: 100vh;
  min-width: 100vw;
  box-shadow: 2px 2px 4px #000;
}

.step3{
  display: inline-block;
  padding: 10px;
  background: grey;
  height: 100vh;
  min-width: 100vw;
  box-shadow: 2px 2px 4px #000;
}

.step4{
  display: inline-block;
  padding: 10px;
  background: red;
  height: 100vh;
  min-width: 100vw;
  box-shadow: 2px 2px 4px #000;
}

.test-step2{
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.test-step3{
  background-color: red;
  height: 100vh;
  width: 100vw;
}

video{
  max-height: 35vh;
}



.tester {
	outline: dashed 4px salmon;
	color: salmon;
}
.answer {
	position: fixed;
	top: 35px;
	left: 0;
	right: 0;
}
.tester, .answer {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	font-weight: 600;
}