
  /*---------------------------------*/

  .continue-button__blue{
    background-color: var(--blue);
    padding: 2rem;
    border: 0.5rem solid var(--blue);
    border-radius: 1.5rem;
    margin-top: 2rem;
  }

  .continue-button-text__white{
    color: var(--white);
    font-size: 1.5rem;
    font-weight: lighter;
    
  }

  .continue-button__white{
    background-color: var(--white);
    border: 0.1rem solid var(--blue);
    padding: 2rem;
    border: 0.5rem solid var(--blue);
    border-radius: 1.5rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .continue-button-text__blue{
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: lighter;
   
  }

  /*---------------------------*/

  .skill-breakdown {
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 5rem;
    height: 40rem;
    margin-top: 3rem;
    margin-bottom: 0rem;
    padding: 1rem;
    font-family: var(--fontFam);
  }

  .skill-breakdown .skill-breakdown__card {
    border: 1rem;
    box-shadow: 0rem 0rem .75rem 0.05rem var(--lightGrey);
    border-radius: 1rem;
    height: 10vh;
    margin-bottom: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
  }

  .skill-breakdown__card-text{
    align-self: flex-end;
    font-size: 1.5rem;
    color: var(--grey);
  }

.recomanded-time__weeks{
  font-size: 6rem;
  align-self: center;
  color: var(--red);
}

.day-selector{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.day-selector-input{
  width: 20vw;
  margin-top: 1rem;
  margin-right: 1.5rem;
}

.day-selector-text{
  display: flex;
  align-content: center;
}

.design-elements {
  background-color: white;
  height: 20vh;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-illustration{
  max-height: 85%;
}