

.container{
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  
  overflow-x:scroll;
  white-space: nowrap;
  float:left;
  position: relative;
}

.navigatie{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 1rem;
  font-family: 'Cocogoose';
  font-size: 1.5rem;
}

.nav-logo{
 height: 100%;
}

.nav-items{
  display: flex;
  padding: 3rem;
}

.nav-item{
  margin-left: 5rem;
}


.wrapper{
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    float: left;
    position: relative;
    display: flex;
    color: white;
  }




.test-div{
  background-color: gray;
  height: 100vh;
  width: 100vw;
}

.intro{
  display: inline-block;
  padding: 1rem;
  min-width: 100vw;
  box-shadow: 2px 2px 4px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.start-tutorial__title{
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 3rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
}


.step-title{
  color: black;
  grid-row: 1;
  grid-column: 1 / span 12;
  font-family: 'Avenir';
  font-size: 5rem;
  font-weight: 700;
  padding-left: 3rem;
  margin-top: 2rem;
}

.video-tutorial{
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.step{
  display: inline-block;
  background: black;
  height: 80vh;
  min-width: 100%;
  box-shadow: 2px 2px 4px #000;
  display: flex;
  flex-direction: column;
}
/* --------------------------------- INTRO --------------------------------- */


#intro{
  display: grid;
  grid-template-columns: repeat(10 , 10vw);
  grid-template-rows: repeat(6,1fr);
  background-color: white;
  margin: none;
}

.intro-gif{
  grid-column: 3 / span 5;
  grid-row: 3;
  display: flex;
  align-items: center;
  max-width: 85%;
}


.intro-step{
  font-weight: 400;
  font-size: 3rem;
}

.shop-link{
  grid-column: 8 / span 3;
  grid-row: 3 / span 4;
  font-family: 'Avenir';
  color: black;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.shop-link__button{
  font-family: 'Retrocycles';
  font-size: 5rem;
  margin-top: 3rem;
  text-decoration: underline;
  color: var(--red);
  padding-bottom: 2rem;
}

.intro-detail{
 grid-column: 8 / span 3;
  grid-row: 3 / span 2;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


/* --------------------------------- FIETS --------------------------------- */

#fiets{
  display: grid;
  grid-template-columns: repeat(12 , 1fr);
  grid-template-rows: repeat(6,1fr);
  background-color: white;
  margin: none;
}

.fiets-img{
  grid-column: 3 / span 10;
  grid-row: 2 / span 4;
  max-width: 75%;
}

.fiets-kiezen__detail{
  grid-column: 11 / span 12;
  grid-row: 1 / span 5;
}

.fiets-text{
  color: black;
  font-size: 1.8rem;
  grid-column: 1 / span 3;
  grid-row: 2;
  white-space: normal;
  margin-left: 3rem;
  font-family: 'Avenir';
  line-height: 2.2rem;
  padding-right: 3rem;
}

.img-detail{
  width: 100%;
}

/* --------------------------------- VOORBEREIDING --------------------------------- */

#voorbereiding{
  display: grid;
  grid-template-columns: repeat(10 , 10vw);
  grid-template-rows: repeat(6,1fr);
  background-color: white;
  margin: none;
}

.voorbereiding-text{
  grid-row: 1;
  grid-column: 1 / span 3;
  white-space: normal;
  font-family: 'Avenir';
  color: black;
  font-size: 1.8rem;
  margin-left: 3rem;
  display: flex;
  justify-content: c;
}


.voorbereiding-img{
  grid-column: 3 / span 7;
  grid-row: 1 / span 2;
  max-width: 78%;
  display: flex;
  justify-items: center;
}

.voorbereiding-detail{
  grid-row: 6;
  grid-column: 1 / span 2;
  max-width: 100%;
}

.voorbereiding-detail2{
  grid-row: 1;
  grid-column: 9 / span 2;
  max-width: 100%;
}

/* --------------------------------- STEP1 --------------------------------- */

#step1{
  display: grid;
  grid-template-columns: repeat(10 , 10vw);
  grid-template-rows: repeat(6,1fr);
  background-color: white;
  margin: none;
}

.step-title__test{
  background-color: red;
  grid-row: 1;
  grid-column: 1 / span 3;
  display: flex;
  color: black;
  font-size: 3rem;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Cocogoose';
}

.step-number{
  width: 10rem;
  height: 10rem;
  background-color: blue;
  border: transparent 0.1rem solid;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-title-step{
  font-family: 'Retrocycles';
  font-size: 5rem;
}

.step1-img{
  grid-area: 4 / 2 / span 4 / span 3;
  max-width: 100%;
}

.step1-text{
  background-color: teal;
  grid-row: 2;
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: normal;
  padding: 1rem;
  font-size: 2rem;
}


.control-button1__text{
  grid-column: 3 / span 2;
  grid-row: 3;
  color: black;
  font-size: 1.8rem;
  white-space: normal;
  padding: 3rem;
}

.control-button2__text{
  padding: 3rem;
  grid-column: 3 / span 2;
  grid-row: 6;
  color: black;
  font-size: 1.8rem;
  white-space: normal;
}

.step1-instruction__video{
  background-color: tomato;
  grid-row: 2 / span 4;
  grid-column: 6 / span 4;
}

.step1-detail{
  background-color: turquoise;
  grid-row: 1 / span 5;
  grid-column: 8 / span 2;
  z-index: 0;
}



/* --------------------------------- STEP2 --------------------------------- */

#step2{
  background-image: url('../assets/img/stap2.jpg');
  background-position: center; 
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(10 , 10vw);
  grid-template-rows: repeat(6,1fr);
  background-color: white;
  font-family: 'Avenir';
  color: black;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-right: 3rem;
}

.step2-step__title{
  font-family: 'Retrocycles';
  font-size: 15rem;
  color: var(--red);
  margin-right: 2rem;
  opacity: 35%;
}

.step2-step__title{
  font-family: 'Retrocycles';
  font-size: 10rem;
  color: var(--red);
  margin-right: 2rem;
  opacity: 35%;
}

.step2-t1{
  grid-row: 2;
  grid-column: 5 / span 2;
  white-space: normal;
  display: flex;
  align-items: center;
}

.step2-t2{
  grid-row: 5;
  grid-column: 6 / span 2;
  white-space: normal;
  display: flex;
  align-items: center;
}

.step2-t3{
  grid-row: 2;
  grid-column: 8 / span 2;
  white-space: normal;
  display: flex;
  align-items: center;
}

.step2-t4{
  grid-row: 5;
  grid-column: 9 / span 2;
  white-space: normal;
  display: flex;
  align-items: center;
  padding-right: 5rem;
}

.step2-tip{
  grid-row: 1;
  grid-column: 6 / span 3;
  white-space: normal;
  display: flex;
  align-items: center;
  font-weight: 500;
}


.stap2-img{
  grid-row: 1;
  grid-column: 2 / span 10;
  max-width: 90%;
}

video{
  max-height: 50vh;
}

.gif{
  width: 50vw;
  
}
/* --------------------------------- STEP3 --------------------------------- */


/* --------------------------------- STEP4 --------------------------------- */
#step4{
  background-image: url('../assets/img/stap4.png');
  background-position: center; 
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(10 , 10vw);
  grid-template-rows: repeat(6,1fr);
  background-color: white;
  font-family: 'Avenir';
  color: black;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-right: 3rem;
}

.step4-step__title{
  font-family: 'Retrocycles';
  font-size: 10rem;
  color: var(--red);
  margin-right: 2rem;
  opacity: 35%;
}

.step4-t1{
  grid-row: 2;
  grid-column: 2 / span 2;
  white-space: normal;
  display: flex;
}

.step4-step__title-tip{
  font-family: 'Retrocycles';
  font-size: 10rem;
  color: white;
  margin-right: 2rem;
  opacity: 35%;
}

.step4-tip{
  grid-row: 3 / span 2;
  grid-column: 1 / span 3;
  white-space: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 3rem;
  padding: 5rem;
  color: white;
  margin-bottom: 3rem;
}

.step4-t2{
  grid-row: 5;
  grid-column: 2 / span 2;
  white-space: normal;
  display: flex;
}

.step4-t3{
  grid-row: 6;
  grid-column: 2 / span 2;
  white-space: normal;
  display: flex;
  margin-top: 3rem;
}

/* --------------------------------- STEP5 --------------------------------- */


#step5{
  display: grid;
  grid-template-columns: repeat(10 , 10vw);
  grid-template-rows: repeat(6,1fr);
  background-color: white;
  font-family: 'Avenir';
  color: black;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-right: 3rem;
}

.step5-img{
  grid-row: 1 / span 3;
  grid-column: 5 / span 5;
  max-width: 95%;
}

.step5-text{
  grid-row: 2;
  grid-column: 1 / span 3;
  white-space: normal;
  padding-left: 3rem;
  margin-bottom: 7.5rem;
}

.step5-t1{
  grid-row: 3;
  grid-column: 1 / span 2;
  white-space: normal;
  display: flex;
  padding-left: 3rem;
}

.step5-t2{
  grid-row: 3;
  grid-column: 3 / span 2;
  white-space: normal;
  display: flex;
}

.step5-detail{
  grid-row: 4/ span 3;
  grid-column: 2/ span 2;
  max-width: 85%;
  padding-top: 3rem;
}

/* --------------------------------- STEP6 --------------------------------- */


#step6{
  background-image: url('../assets/img/stap6.jpg');
  background-position: center; 
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(10 , 10vw);
  grid-template-rows: repeat(6,1fr);
  background-color: white;
  font-family: 'Avenir';
  color: black;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-right: 3rem;
}


/* --------------------------------- PROGRESS --------------------------------- */

.progressbar{
  background-color: var(--red);
  height: 10vh;
}