

.container{
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  
  overflow-x:scroll;
  white-space: nowrap;
  float:left;
  position: relative;
}



.navigatie{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 1rem;
  font-family: 'Cocogoose';
  font-size: 1.5rem;
}

.nav-logo{
 height: 100%;
}

.nav-items{
  display: flex;
  padding: 3rem;
}

.nav-item{
  margin-left: 5rem;
  text-decoration: none!important;
  color: var(--red);
}

.nav-item__active{
  text-decoration: none!important;
  color: var(--red);
  border-bottom: 0.2rem solid black;
  margin-left: 5rem;
}


.wrapper{
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    float: left;
    position: relative;
    display: flex;
    color: white;
  }




  #step-clip{
    max-width: 100%;
  }



.test-div{
  background-color: gray;
  height: 100vh;
  width: 100vw;
}

.intro{
  display: inline-block;
  padding: 1rem;
  min-width: 100vw;
  box-shadow: 2px 2px 4px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.start-tutorial__title{
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 3rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
}


.step-title{
  color: black;
  grid-row: 1;
  grid-column: 1 / span 12;
  font-family: 'Avenir';
  font-size: 5rem;
  font-weight: 700;
  padding-left: 3rem;
  margin-top: 2rem;
}

.video-tutorial{
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.step{
  display: inline-block;
  background: black;
  height: 80vh;
  min-width: 100%;
  box-shadow: 2px 2px 4px #000;
  display: flex;
  flex-direction: column;
}
/* --------------------------------- INTRO --------------------------------- */


#intro{
  display: grid;
  grid-template-columns: repeat(10 , 10vw);
  grid-template-rows: repeat(6,1fr);
  background-color: white;
  margin: none;
}

.intro-gif{
  grid-column: 3 / span 5;
  grid-row: 2 / span 3;
  display: flex;
  align-items: center;
  max-width: 85%;
}


.intro-step{
  font-weight: 400;
  font-size: 3rem;
    white-space: normal;

}

.shop-link{
  grid-column: 8 / span 3;
  grid-row: 3 / span 4;
  font-family: 'Avenir';
  color: black;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: 700;
}

.shop-link__button{
  font-family: 'Retrocycles';
  font-size: 5rem;
  margin-top: 3rem;
  text-decoration: underline;
  color: var(--red);
  padding-bottom: 2rem;
}

.intro-detail{
 grid-column: 7 / span 4;
  grid-row: 4 / span 2;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 50%;
}


/* --------------------------------- FIETS --------------------------------- */

#fiets{
  display: grid;
  grid-template-columns: repeat(12 , 1fr);
  grid-template-rows: repeat(6,1fr);
  background-color: white;
  margin: none;
}

.fiets-img{
  grid-column: 3 / span 10;
  grid-row: 2 / span 4;
  max-width: 75%;
}

.fiets-kiezen__detail{
  grid-column: 11 / span 12;
  grid-row: 1 / span 5;
}

.fiets-text{
  color: black;
  font-size: 1.8rem;
  grid-column: 1 / span 3;
  grid-row: 2;
  white-space: normal;
  margin-left: 3rem;
  font-family: 'Avenir';
  line-height: 2.2rem;
  padding-right: 3rem;
}

.img-detail{
  width: 100%;
}

/* --------------------------------- VOORBEREIDING --------------------------------- */

#voorbereiding{
  display: grid;
  grid-template-columns: repeat(10 , 10vw);
  grid-template-rows: repeat(6,1fr);
  background-color: white;
  margin: none;
}

.voorbereiding-text{
  grid-row: 2;
  grid-column: 1 / span 3;
  white-space: normal;
  font-family: 'Avenir';
  color: black;
  font-size: 1.8rem;
  margin-left: 3rem;
  display: flex;
  justify-content: center;
}


.voorbereiding-img{
  grid-column: 3 / span 7;
  grid-row: 1 / span 3;
  max-width: 78%;
  display: flex;
  justify-items: center;
}

.voorbereiding-detail{
  grid-row: 4/ span 4;
  grid-column: 1 / span 2;
  max-width: 100%;
  padding-top: 1rem;
  margin-top: 1rem;
}

.voorbereiding-detail2{
  grid-row: 1 / span 3;
  grid-column: 9 / span 2;
  max-width: 100%;
}

/* --------------------------------- STEP1 --------------------------------- */

#step1{
  display: grid;
  grid-template-columns: repeat(10 , 10vw);
  grid-template-rows: repeat(6,1fr);
  background-color: white;
  margin: none;
  font-family: 'Avenir';
}

.step-title__test{
  grid-row: 1;
  grid-column: 1 / span 3;
  display: flex;
  color: black;
  font-size: 2vw;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Cocogoose';
  padding-right: 3rem;
}

.step-number{
  width: 10rem;
  height: 10rem;
  border: 1rem solid black;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
}

.step-title-step{
  font-family: 'Retrocycles';
  font-size: 3vw;
  padding-top: 2rem;
  color: var(--red);
}

.step1-img{
  grid-area: 2 / 2 / span 5 / span 3;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-left: 5rem;
}

.step1-text{
  grid-row: 2;
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: normal;
  padding: 1rem;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-family: 'Avenir';
}

.play-button{
  grid-row: 6;
  grid-column: 6;
  max-width: 50%;
  display: flex;
  justify-self: center;
  align-self: center;
} 

  .play-button__text{
  grid-row: 6;
  grid-column: 7 / span 3;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 700;
  font-family: 'Avenir';
  color: black;
    white-space: normal;
    display: flex;
    align-self: center;

}



.control-button1__text{
  grid-column: 3 / span 3;
  grid-row: 2;
  color: black;
  font-size: 1.8rem;
  white-space: normal;
  padding: 3rem;
  border-left: 0.5rem solid var(--red);
  margin-top: 3rem;

}

.control-button2__text{
  padding: 3rem;
  grid-column: 3 / span 3;
  grid-row: 6;
  color: black;
  font-size: 1.8rem;
  white-space: normal;
  border-left: 0.5rem solid var(--red);
  margin-bottom: 3rem;
}

.control-button__title{
  font-family: "Cocogoose";
  margin-bottom: 0.5rem;
}

.step1-instruction__video{
  grid-row: 2 / span 4;
  grid-column: 6 / span 4;
}

.step1-detail{
  grid-row: 1 / span 6;
  grid-column: 8 / span 3;
  max-width: 100%;
}



/* --------------------------------- STEP2 --------------------------------- */

#step2{
  background-image: url('../assets/img/stap2.jpg');
  background-position: center; 
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(10 , 10vw);
  grid-template-rows: repeat(6,1fr);
  background-color: white;
  font-family: 'Avenir';
  color: black;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-right: 3rem;
}

.step2-step__title{
  font-family: 'Retrocycles';
  font-size: 15rem;
  color: var(--red);
  margin-right: 2rem;
  opacity: 35%;
}

.step2-step__title{
  font-family: 'Retrocycles';
  font-size: 10rem;
  color: var(--red);
  margin-right: 2rem;
  opacity: 35%;
}

.step2-t1{
  grid-row: 2;
  grid-column: 5 / span 2;
  white-space: normal;
  display: flex;
  align-items: center;
}

.step2-t2{
  grid-row: 5;
  grid-column: 6 / span 2;
  white-space: normal;
  display: flex;
  align-items: center;
}

.step2-t3{
  grid-row: 2;
  grid-column: 8 / span 2;
  white-space: normal;
  display: flex;
  align-items: center;
}

.step2-t4{
  grid-row: 5;
  grid-column: 9 / span 2;
  white-space: normal;
  display: flex;
  align-items: center;
  padding-right: 5rem;
}

.step2-tip{
  grid-row: 1;
  grid-column: 6 / span 3;
  white-space: normal;
  display: flex;
  align-items: center;
  font-weight: 500;
}


.stap2-img{
  grid-row: 1;
  grid-column: 2 / span 10;
  max-width: 90%;
}

video{
  max-height: 50vh;
}

.gif{
  width: 50vw;
  
}
/* --------------------------------- STEP3 --------------------------------- */

#step3{
  display: grid;
  grid-template-columns: repeat(10 , 10vw);
  grid-template-rows: repeat(6,1fr);
  background-color: white;
  font-family: 'Avenir';
  color: black;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.step3-img{
  background-color: rebeccapurple;
  grid-row: 3/ span 3;
  grid-column: 1 / span 6;
  max-width: 100%;
  margin-top: 1.5rem;
}

.step3-text{
  background-color: red;
  grid-row: 5 / span 1;
  grid-column: 2 / span 4;
}

.step3-step__title{
  font-family: 'Retrocycles';
  font-size: 8rem;
  color: var(--red);
  margin-right: 1rem;
  opacity: 35%;

}

.step3-t1{
  grid-row: 3;
  grid-column: 1 / span 2;
  display: flex;
  white-space: normal;
  margin-top: 3rem;
  padding-left: 3rem;
  padding-right: 10rem;
}

.step3-t2{
  grid-row: 2;
  grid-column: 2 / span 2;
  display: flex;
  white-space: normal;
  padding-top: 3rem;
  margin-right: 5rem;
}

.step3-t3{
  grid-row: 3;
  grid-column: 3 / span 2;
  display: flex;
  white-space: normal;
  margin-top: 3rem;

}

.step3-t4{
  grid-row: 2;
  grid-column: 4 / span 3;
  display: flex;
  white-space: normal;
  padding-top: 3rem;
  padding-right: 5rem;

}

.step3-detail{
  grid-row: 1 / span 4;
  grid-column: 7 / span 4;
  max-width: 100%;
  margin-top: 4rem;

}


/* --------------------------------- STEP4 --------------------------------- */
#step4{
  background-image: url('../assets/img/stap4.png');
  background-position: center; 
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(10 , 10vw);
  grid-template-rows: repeat(6,1fr);
  background-color: white;
  font-family: 'Avenir';
  color: black;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-right: 3rem;
}



.step4-video-test{
  grid-row: 2 / span 4;
  grid-column: 7 / span 4;
  /* grid-column: 6 / span 4; */
  display: flex;
  justify-self: center;
  align-self: center;
}

.step4-video{
  width:100%;
  padding: 3rem;
} 


.step4-step__title{
  font-family: 'Retrocycles';
  font-size: 10rem;
  color: var(--red);
  margin-right: 2rem;
  opacity: 35%;
}

.step4-t1{
  grid-row: 2;
  grid-column: 2 / span 3;
  white-space: normal;
  display: flex;
  align-items: flex-end;
  padding-right: 5rem;
}

.step4-step__title-tip{
  font-family: 'Retrocycles';
  font-size: 10rem;
  color: white;
  margin-right: 2rem;
  opacity: 35%;
}

.step4-tip{
  grid-row: 3 / span 2;
  grid-column: 1 / span 3;
  white-space: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 3rem;
  padding: 5rem;
  color: white;
  margin-bottom: 3rem;
}

.step4-t2{
  grid-row: 5;
  grid-column: 2 / span 2;
  white-space: normal;
  display: flex;
}

.step4-t3{
  grid-row: 6;
  grid-column: 2 / span 2;
  white-space: normal;
  display: flex;
  margin-top: 3rem;
}



/* --------------------------------- STEP5 --------------------------------- */


#step5{
  display: grid;
  grid-template-columns: repeat(10 , 10vw);
  grid-template-rows: repeat(6,1fr);
  background-color: white;
  font-family: 'Avenir';
  color: black;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-right: 3rem;
}

.step5-title-step{
  font-family: 'Retrocycles';
  font-size: 2.5vw;
  padding-top: 2rem;
  color: var(--red);
}

.step5-img{
  grid-row: 1 / span 3;
  grid-column: 5 / span 5;
  max-width: 95%;
}

.step5-text{
  grid-row: 2;
  grid-column: 1 / span 3;
  white-space: normal;
  padding-left: 3rem;
  margin-bottom: 7.5rem;
}

.step5-t1{
  grid-row: 3;
  grid-column: 1 / span 2;
  white-space: normal;
  display: flex;
  padding-left: 3rem;
}

.step5-t2{
  grid-row: 3;
  grid-column: 3 / span 2;
  white-space: normal;
  display: flex;
}

.step5-detail{
  grid-row: 4/ span 3;
  grid-column: 2/ span 2;
  max-width: 85%;
  padding-top: 3rem;
}

/* --------------------------------- STEP6 --------------------------------- */


#step6{
  background-image: url('../assets/img/stap6.jpg');
  background-position: center; 
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(10 , 10vw);
  grid-template-rows: repeat(6,1fr);
  background-color: white;
  font-family: 'Avenir';
  color: black;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-right: 3rem;
}

.step6-text{
  grid-row: 2;
  grid-column: 1 / span 2;
  white-space: normal;
  padding-left: 3rem;
}

.step6-interaction{
  grid-row: 3;
  grid-column: 1 / span 2;
  padding-left: 3rem;
}

.step6-interaction__question{
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.step6-interaction__answer{
  background-color: var(--red);
  color: var(--red);
  text-align: center;
  padding: 1rem;
  border: 0.1rem solid var(--red);
  border-radius: 3rem;
  margin-bottom: 1rem;
}

.step6-interaction__answer:hover { 
  color: white;
}

.step6-t1{
  grid-row: 3;
  grid-column: 5 / span 2;
  white-space: normal;
  padding-left: 3rem;
}

.step6-detail{
  max-width: 90%;
  grid-row: 1 / span 2;
  grid-column: 9 / span 2;
  padding: 3rem;
  padding-top: 1rem;
}

.step6-tech{
  background-color: var(--red);
  grid-row: 1 / span 4;
  grid-column: 9 / span 2;
  white-space: normal;
  color: white;
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem;
  border: 0.5rem solid var(--red);
  border-radius: 2rem;
  justify-content: space-between;
}

.step6-tech-show{
  grid-row: 1 / span 3;
  grid-column: 9 / span 2;
  white-space: normal;
  display: flex;
  flex-direction: column-reverse;
}

.step6-tech__question{
  background-color: var(--red);
  border: 1rem solid var(--red);
  border-radius: 3rem;
  color: white;
  text-align: center;
  font-weight: 700;
  margin-top: 1rem;
}

.step6-tech-hide{
  font-weight: 700;
}


/* --------------------------------- STEP7 --------------------------------- */

#step7{
  display: grid;
  grid-template-columns: repeat(10 , 10vw);
  grid-template-rows: repeat(6,1fr);
  background-color: white;
  font-family: 'Avenir';
  color: black;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-right: 3rem;
}

.step7-img{
  grid-column: 4 / span 4;
  grid-row: 1 / span 6;
  max-width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}

.step7-video{
  grid-row: 3 / span 4;
  grid-column: 4 / span 4;
  padding: 1rem;
  padding-right: 0.5rem;
  max-width: 100%;
  margin-bottom: 3rem;
}

.step7-t1{
  grid-row: 3;
  grid-column: 2 / span 2;
  white-space: normal;
  display: flex;
  padding-right: 5rem;
}

.step7-t2{
  grid-row: 5;
  grid-column: 2 / span 2;
  white-space: normal;
  display: flex;
  padding-right: 5rem;
}

.step7-detail{
  grid-row: 1 / span 5;
  grid-column: 8 / span 3;
  max-width: 100%;
}

/* --------------------------------- STEP8 --------------------------------- */

#step8{
  display: grid;
  grid-template-columns: repeat(10 , 10vw);
  grid-template-rows: repeat(6,1fr);
  font-family: 'Avenir';
  color: black;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-right: 3rem;
  background-color: white;
}

.step8-img{
  grid-column: 4 / span 8;
  grid-row: 1 / span 6;
  max-width: 90%;
}

.step8-text{
  grid-row: 2;
  grid-column: 1 / span 2;
  white-space: normal;
}

.step8-t1{
  grid-column: 5 / span 2;
  grid-row: 2;
  white-space: normal;
  display: flex;
  padding-right: 7rem;
}

.step8-t2{
  grid-column: 4 / span 2;
  grid-row: 3;
  white-space: normal;
  display: flex;
  padding-right: 5rem;
}

.step8-t3{
  grid-column: 3 / span 2;
  grid-row: 4;
  white-space: normal;
  display: flex;
  padding-top: 3rem;
}

.step8-t4{
  grid-column: 2 / span 2;
  grid-row: 5;
  white-space: normal;
  display: flex;
}

/* --------------------------------- PROGRESS --------------------------------- */

.progressbar{
  background-color: var(--red);
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.progressbar-step{
  display: flex;
  flex-direction: column;
  width: 8vw;
  color: white;
  font-family: "cocogoose";
  align-items: center;
  font-size: 0.75vw;
}

.progressbar-step__circle{
  align-self: center;
  
  border: 0.3rem solid black;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  margin-bottom: 0.75rem;
  text-align: center;
}

.progressbar-step__number{
  align-self: center;
  text-align: center;
  display: flex;
  font-size: 1vw;
  text-decoration: none;
  color: white;
}






@media only screen and (max-width: 600px) {
  .container{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    
    overflow-y:scroll;
    white-space: nowrap;
    float:left;
    position: relative;
  }

  #intro{
  display: none;
}

  .wrapper{
    width: 100%;
    overflow-y: scroll;
    white-space: nowrap;
    float: left;
    position: relative;
    display: flex;
    flex-direction: column;

    color: white;
  }

  .step-title__test{
  grid-row: 1;
  grid-column: 1 / span 6;
  display: flex;
  color: black;
  font-size: 5vw;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Cocogoose';
}

.step-title-step{
  font-family: 'Retrocycles';
  font-size: 7.5vw;
  padding-top: 2rem;
  padding-left: 3rem;
  color: var(--red);
}

.step-number{
  width: 10vw;
  height: 10vw;
  border: 0.5rem solid black;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
}

  /* --------------------------------- FIETS KIEZEN --------------------------------- */

  .fiets-img{
    grid-column: 3 / span 10;
    grid-row: 6;
    max-width: 75%;
  }

  .fiets-text{
    color: black;
    font-size: 2.2rem;
    grid-column: 1 / span 10;
    grid-row: 2;
    white-space: normal;
    margin-left: 3rem;
    font-family: 'Avenir';
    line-height: 2.6rem;
    padding-right: 3rem;
  }

  /* --------------------------------- VOORBEREIDING --------------------------------- */

  .voorbereiding-img{
  grid-column: 3 / span 7;
  grid-row: 5 / span 3;
  max-width: 78%;
  display: flex;
  justify-items: center;
}

.voorbereiding-detail{
  display: none;
}

.voorbereiding-text{
  grid-row: 2;
  grid-column: 1 / span 6;
  white-space: normal;
  font-family: 'Avenir';
  color: black;
  font-size: 2.2rem;
  line-height: 2.6rem;
  margin-left: 3rem;
  display: flex;
  justify-content: center;
}


  /* --------------------------------- STEP1 --------------------------------- */

  .step1-instruction__video{
  grid-row: 4;
  grid-column: 1 / span 10;
}

.step1-video{
  max-width: 100%;
}

.step1-text{
  grid-row: 2;
  grid-column: 1 / span 6;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: normal;
  padding: 1rem;
  font-size: 2.2rem;
  line-height: 2.6rem;
  font-family: 'Avenir';
  color: black;

}

.play-button__text{
  display: none;
}

.control-button1__text{
  display: none;
}

.control-button2__text{
  display: none;
}

.play-button{
  display: none;

}

.step1-img{
  display: none;
}

/* --------------------------------- STEP2 --------------------------------- */

#step2{
  background-image: url('../assets/img/stap2-mobile@2x.png');
  background-position: bottom; 
  background-size: 75%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(10 , 10vw);
  grid-template-rows: repeat(6,1fr);
  background-color: white;
  font-family: 'Avenir';
  color: black;
  font-size: 3vw;
  line-height: 2.2rem;
  margin-right: 3rem;
}

.step2-step__title{
  font-family: 'Retrocycles';
  font-size: 15rem;
  color: var(--red);
  margin-right: 2rem;
  opacity: 35%;
}

.step2-step__title{
  display: none;
}





.step2-t1{
  grid-row: 1 / span 2;
  grid-column: 6 / span 6;
  white-space: normal;
  display: flex;
  align-items: center;
  padding-right: 3rem;
  padding-bottom: 1rem;
}

.step2-t2{
  grid-row: 3 / span 2;
  grid-column: 1 / span 6;
  white-space: normal;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  padding-bottom: 6rem;
}

.step2-t3{
  grid-row: 4 / span 2;
  grid-column: 6 / span 4;
  white-space: normal;
  display: flex;
  align-items: center;
  padding-right: 3rem;
  padding-bottom: 3rem;
}

.step2-t4{
  grid-row: 5 / span 2;
  grid-column: 1 / span 6;
  white-space: normal;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  padding-top: 3rem;
}

.step2-tip{
  display: none;
}


.stap2-img{
  grid-row: 1;
  grid-column: 2 / span 10;
  max-width: 90%;
}


  /* --------------------------------- STEP3 --------------------------------- */

  #step3{
  display: grid;
  grid-template-columns: repeat(10 , 10vw);
  grid-template-rows: repeat(6,1fr);
  background-color: white;
  font-family: 'Avenir';
  color: black;
  font-size: 3vw;
  line-height: 3vh;
}

  .step3-img{
  grid-row: 6;
  grid-column: 2 / span 8;
  max-width: 100%;
}

.step3-step__title{
  display: none;
}

.step3-t1{
  grid-row: 2;
  grid-column: 2 / span 6;
  display: flex;
  white-space: normal;
  padding-left: 0rem;
  padding-right: 0rem;
}

.step3-t2{
  grid-row: 3;
  grid-column: 3 / span 8;
  display: flex;
  white-space: normal;
  padding-top: 3rem;
}

.step3-t3{
  grid-row: 4;
  grid-column: 2 / span 6;
  display: flex;
  white-space: normal;

}

.step3-t4{
  grid-row: 5;
  grid-column: 3 / span 9;
  display: flex;
  white-space: normal;
  padding-top: 3rem;

}

.step3-detail{
  /* grid-row: 1 / span 4;
  grid-column: 7 / span 4;
  max-width: 100%;
  margin-top: 4rem; */
  display: none;
}

/* --------------------------------- STEP4 --------------------------------- */
#step4{
  background-image: url('../assets/img/stap4-mobile@2x.png');
  background-position: bottom; 
  background-size: 100%;
  background-repeat: no-repeat ;
  display: grid;
  grid-template-columns: repeat(10 , 10vw);
  grid-template-rows: repeat(6,1fr);
  background-color: white;
  font-family: 'Avenir';
  color: black;
  font-size: 3.5vw;
  line-height: 2.2rem;
  margin-right: 3rem;
}

.step4-step__title{
  font-family: 'Retrocycles';
  font-size: 10rem;
  color: var(--red);
  margin-right: 2rem;
  opacity: 35%;
}

.step4-t1{
  grid-row: 3;
  grid-column: 1 / span 5;
  white-space: normal;
  display: flex;
  padding-left: 3rem;
  padding-right: 2rem;
}

.step4-step__title-tip{
  font-family: 'Retrocycles';
  font-size: 10rem;
  color: white;
  margin-right: 2rem;
  opacity: 35%;
}

.step4-tip{
 display: none;
}

.step4-t2{
  grid-row: 2;
  grid-column: 2 / span 7;
  white-space: normal;
  display: flex;

}

.step4-t3{
  grid-row: 3;
  grid-column: 6 / span 5;
  white-space: normal;
  display: flex;
  margin-top: 3rem;
  padding-right: 3rem;
  padding-left: 2rem;
}

/* .step4-video{
  grid-row: 4 / span 2;
  grid-column: 1 / span 10;
  max-width: 100%;
  padding-top: 7rem;
} */

  /* --------------------------------- STEP5 --------------------------------- */

  .step5-img{
  grid-row: 6;
  grid-column: 2 / span 7;
  max-width: 100%;
}

.step5-title-step{
  font-family: 'Retrocycles';
  font-size: 5vw;
  padding-top: 2rem;
  color: var(--red);
}

.step5-text{
  display: none;
}

.step5-t1{
  grid-row: 2;
  grid-column: 1 / span 5;
  white-space: normal;
  display: flex;
  padding-left: 3rem;
  margin-top: 3rem;
}

.step5-t2{
  grid-row: 4;
  grid-column: 3 / span 5;
  white-space: normal;
  display: flex;
}

.step5-detail{
  display: none;
}

  /* --------------------------------- STEP6 --------------------------------- */


#step6{
  background-image: url('../assets/img/stap6.jpg');
  background-position: bottom; 
  background-size: contain;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(10 , 10vw);
  grid-template-rows: repeat(6,1fr);
  background-color: white;
  font-family: 'Avenir';
  color: black;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-right: 3rem;
}

.step6-img{
  grid-row: 6;
  grid-column: 1 / span 10;
  max-width: 100%;
}

.step6-text{
  grid-row: 2;
  grid-column: 1 / span 6;
  white-space: normal;
  padding-left: 3rem;
}

.step6-interaction{
  display: none;
}

.step6-interaction__question{
  display: none;
}

.step6-interaction__answer{
  display: none;
}

.step6-interaction__answer:hover { 
  display: none;
}

.step6-t1{
  grid-row: 3;
  grid-column: 1 / span 5;
  white-space: normal;
  padding-left: 3rem;
}

.step6-tech{
  background-color: var(--red);
  grid-row: 3 / span 2;
  grid-column: 1 / span 10;
  white-space: normal;
  color: white;
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem;
  border: 0.5rem solid var(--red);
  border-radius: 2rem;
  justify-content: space-between;
}

.step6-tech-show{
  grid-row: 4;
  grid-column: 3 / span 6;
  white-space: normal;
  display: flex;
  flex-direction: column-reverse;
}

.step6-tech__question{
  background-color: var(--red);
  border: 1rem solid var(--red);
  border-radius: 3rem;
  color: white;
  text-align: center;
  font-weight: 700;
  margin-top: 1rem;
}

.step6-tech-hide{
  font-weight: 700;
}


  /* --------------------------------- STEP7 --------------------------------- */

.step7-img{
  display: none;
}

.step7-clip{
  padding: 1rem;
  padding-right: 0.5rem;
  background-color: red;
  display: none;
}
.step7-video{
  grid-row: 6;
  grid-column: 1 / span 10;
  max-width: 100%;
}

.step7-t1{
  grid-row: 2;
  grid-column: 2 / span 4;
  white-space: normal;
  display: flex;
  padding-right: 5rem;
}

.step7-t2{
  grid-row: 2;
  grid-column: 6 / span 6;
  white-space: normal;
  display: flex;
  padding-right: 5rem;
}

.step4-step__title{
  font-family: 'Retrocycles';
  font-size: 10rem;
  color: var(--red);
  margin-right: 2rem;
  opacity: 35%;
  display: none;
}


  /* --------------------------------- STEP8 --------------------------------- */

.step8-img{
  grid-column: 1 / span 8;
  grid-row: 6;
  max-width: 100%;
}

.step8-text{
  grid-row: 2;
  grid-column: 1 / span 8;
  white-space: normal;
}

.step8-t1{
  grid-column: 1 / span 5;
  grid-row: 3;
  white-space: normal;
  display: flex;
  padding-right: 7rem;
}

.step8-t2{
  grid-column: 5 / span 6;
  grid-row: 3;
  white-space: normal;
  display: flex;
  padding-right: 5rem;
}

.step8-t3{
  grid-column: 3 / span 5;
  grid-row: 4;
  white-space: normal;
  display: flex;
  padding-top: 3rem;
}

.step8-t4{
  grid-column: 2 / span 8;
  grid-row: 5;
  white-space: normal;
  display: flex;
}


.progressbar{
  display: none;}


}