
@import "css/vars.css";
@import "css/reset.css";
@import "style.css";
@import "css/start.css";

html {
  box-sizing: border-box;
  font-size: 62.5%;

}
/*stylelint-disable*/
*,
*:before,
*:after {
  box-sizing: inherit;
}


/* .hidden {
  visibility: hidden;
} */

.hidden {
  display: none;
}
