
@import "css/vars.css";
@import "css/start.css";
@import "css/home.css";
@import "css/skill-breakdown.css";
@import "css/timeperiod.css";
@import "css/progress.css";
@import "css/settings.css";
@import "css/loading-bar.css";
@import "css/loading-bar.min.css";
@import "css/profile.css";
@import "css/register.css";
@import "style.css";

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
/*stylelint-disable*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fontFam);
  color: var(--blue);
}

/* .hidden {
  visibility: hidden;
} */

.hidden {
  display: none;
}
